.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 67px;
}
.section1-top{
    display: flex;
    width:1298px;
    height:86px;
    background: rgba(23, 23, 23, 1);
    border-radius: 50px;
    color:white;
    gap:110px;
    font-size: 20px;
}
.section1-logo{
    display: flex;
    gap:10px;
}
.section1-top button{
    width:136px;
    height:60px;
    background: rgba(253, 133, 58, 1);
    font-size: 18px;
    color:white;
    font-weight: 600;
    border-radius: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
.section-bottom{
    display: flex;
    flex-direction: column;
}
.section-bottom-button{
    margin-top: 50px;
}
.section-bottom-button button{
    width: 103px;
    height: 45px;
    border-radius: 38px;
    border: 1.27px solid rgba(23, 23, 23, 1);
    font-size: 20px;
    font-weight: 500;
    background: transparent;
}
.section-bottom-heading p{
    font-size: 90px;
    font-weight: 600;
    color:rgba(23, 23, 23, 1);
    margin-top: 0px;
}
.section1-span{
    color:rgba(253, 133, 58, 1);
}
.section-bottom-main{
    display: flex;
}
.section-bottom-main-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    color:rgba(52, 64, 84, 1);
    text-align: left; 
    margin-right:-100px;
}
.section-bottom-main-img{
   z-index:1;
   margin-top: -200px;
   width:900px;
   margin-right: 220px;
}
.section-bottom-main-stars{
    text-align: right;
    margin-left: -50px;
}
.scroll-bar{
    display: flex;
    height:82px;
    width:300px;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    gap:20px;
    border-radius: 50px;
    border: 2px solid radial-gradient(rgba(255, 255, 255, 1),
    rgba(201, 201, 201, 0));
    z-index: 2;
    margin-top: -150px;
}
.scroll-bar button{
    width:180px;
    height:62px;
    background: rgba(253, 133, 58, 1);
    border:0.5px solid rgba(208, 213, 221, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    border-radius: 60px;
    padding-left:30px;
}
.scroll-bar-portfolio{
    display: flex;
    align-items: center;
}
.section1-hire{
    font-size: 25px;
    font-weight: 300;
    color:rgba(255, 255, 255, 1);
    padding-right: 10px;
}
.section-bottom-main-years{
     font-size:47px;
     font-weight:700;
     margin-top:0px;
     margin-bottom:0px;
}
.section-bottom-main-experience{
    font-size:20px;
    font-weight:400;
    margin-top:0px;
}
@media(max-width:900px){
    .section1{
        margin-bottom: 110px;
    }
    .section1-top{
        width:500px;
        font-size: 15px;
        gap:10px;
    }
    .section1-top button{
        width:80px;
        font-size: 15px;
    }
    .section1-top p{
        margin-top:25px;
    }
    .section-bottom-button button{
        width: 80px;
        height: 35px;
        border-radius: 38px;
        border: 1.07px solid rgba(23, 23, 23, 1);
        font-size: 15px;
        
    }
    .section-bottom-heading p{
        font-size: 60px;
        font-weight: 600;
    }
    .section-bottom-main{
        display: flex;
        flex-direction: column;
    }
    .section-bottom-main-img{
        width:40%;
        height:40%;
        margin-left: 170px;
    }
    .section-bottom-main-text{
        margin-top: -50px;
        margin-left: 450px;
        font-size: 10px;
    }
    .section-bottom-main-stars{
        margin-right: 450px;
        margin-top: -550px;
    }
    .section-bottom-main-years{
        font-size:27px;
        font-weight:700;
        margin-top:0px;
        margin-bottom:0px;
   }
   .section-bottom-main-experience{
       font-size:15px;
       font-weight:400;
       margin-top:0px;
   }
    .scroll-bar{
        height:50px;
        width:200px;
        gap:5px;
        margin-top: 280px;
    }
    .scroll-bar button{
        width:120px;
        height:40px;
        font-size: 15px;
        font-weight: 500;
        padding-left:10px;
    }

    .section1-hire{
        font-size: 15px;
        padding-right: 5px;
    }
    .scroll-bar img{
        width:25px;
        height: 25px;
    }
}