.section6{
    height:863px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.section6-heading p{
  font-size: 48px;
  font-weight: 500;
  color:rgba(252, 252, 253, 1);
  margin-bottom: 0px;
}
.section6-span{
    color:rgba(253, 133, 58, 1);
}
.section6-subheading{
    font-size: 20px;
    font-weight: 400;
    color:white;
    margin-top:0px;
}
 .testimonials-container{
    padding:2rem;
    width:784px;
    margin-left: 21%;
 }
 .slider-wrapper{
    position: relative;
 }
 .slider{
    display: flex;
    aspect-ratio: 26/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
 }
 .slider img{
    scroll-snap-align: start;
    margin-right: 20px;
 }
 
@media(max-width:900px){
    .section6{
        height:600px;
    }
    .section6-heading p{
        font-size: 28px;
    }
    .section6-subheading{
        font-size: 15px;
    }
    .testimonials-container{
        width:384px;
     }
}
